
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <center>
        <h1>cadastrar profissão</h1>
    </center>
    <div class="container">
        <form method="post" class="form-control mt-5">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
    </div>

{% bootstrap_javascript %}
</body>
</html>
